<div class="card">
  <div class="card-body">
    <div class="alert alert-primary text-center" role="alert">
     Renan Martins Barros
    </div>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="alert alert-primary text-center" role="alert">
      Gustavo Gabriel Costa Membrive
    </div>
  </div>
</div>
