<h1>Componentes</h1>

<a href="/componentes/add" class="btn btn-success mb-3">Add Componentes</a>
<table class="table table-bordered">

    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <% componentes.forEach(componente=> { %>
            <tr>
                <td>
                    <%= componente.id %>
                </td>
                <td>
                    <%= componente.nome %>
                </td>
                <td>
                    <a href="/componentes/edit/<%= componente.id %>" class="btn btn-primary btn-sm">Editar</a>
                    <form action="/componentes/delete/<%= componente.id %>" method="POST" class="d-inline">
                        <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                    </form>
                </td>
            </tr>

            <% }) %>
    </tbody>
</table>